<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<div class="layui-body">
    <div style="height: 100%; width: 100%; overflow-x: hidden">
        <div style="width: 50%; height: 50%; margin-top: 15%; margin-left: 25%; background-color: #00F7DE; text-align: center">
            <span style="font-size: 40px;">
                离思<br>
                曾经沧海难为水，<br>
                除却巫山不是云。<br>
                取次花丛懒回顾，<br>
                半缘修道半缘君。<br>
            </span>
        </div>
    </div>
</div>
</html>