<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<div class="layui-header">
    <div class="layui-logo" id="index">S S A</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item"><a th:href="@{/user}">用户管理</a></li>
        <li class="layui-nav-item"><a th:href="@{/process}">流程管理</a></li>
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a>
                <img th:src="@{/img/2.png}" class="layui-nav-img">
                <shiro:principal property="username"/>
            </a>
            <dl class="layui-nav-child">
                <dd><a th:href="@{/logout}">退出</a></dd>
            </dl>
        </li>
    </ul>
</div>
<script th:src="@{/layui/layui.js}"></script>
</html>