<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--<context:annotation-config/>-->
    <!--<context:property-placeholder location="classpath:application.properties" file-encoding="UTF-8"/>-->
    <!--<context:component-scan base-package="com.lb.supervision.controller" use-default-filters="false">-->
        <!--<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />-->
    <!--</context:component-scan>-->
    <!-- 默认的注解映射的支持 -->
    <!--<mvc:annotation-driven>-->
        <!--<mvc:message-converters register-defaults="false">-->
            <!--<bean id="fastJsonHttpMessageConverter"-->
                  <!--class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">-->
                <!--<property name="supportedMediaTypes">-->
                    <!--<list>-->
                        <!--<value>text/html;charset=UTF-8</value>-->
                        <!--<value>application/json;charset=UTF-8</value>-->
                    <!--</list>-->
                <!--</property>-->
                <!--<property name="features">-->
                    <!--<list>-->
                        <!--<value>WriteDateUseDateFormat</value>-->
                        <!--<value>QuoteFieldNames</value>-->
                        <!--<value>WriteMapNullValue</value>-->
                    <!--</list>-->
                <!--</property>-->
            <!--</bean>-->
        <!--</mvc:message-converters>-->
    <!--</mvc:annotation-driven>-->
    <!--<mvc:interceptors>-->
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/admin/**"/>-->
            <!--<bean class="com.lb.supervision.controller.interceptor.AdminInterceptor"/>-->
        <!--</mvc:interceptor>-->
    <!--</mvc:interceptors>-->
    <!--视图解析-->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!-- 静态资源访问 -->
    <!--<mvc:resources location="/assets/" mapping="/assets/**"/>-->

    <mvc:default-servlet-handler />

    <!-- 配置MultipartResolver 用于文件上传 使用spring的CommonsMultipartResolver -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <!--10M*1024*1024-->
        <property name="maxUploadSize" value="10485760"/>
    </bean>


</beans>
	