.loginWraper{ position:absolute;width:100%; left:0; top:0; bottom:0; right:0; z-index:1; background:#3283AC url(img/1.png) no-repeat center}
.loginBox{ position:absolute; width:617px; height:330px; background:url(img/1.png) no-repeat; left:50%; top:50%; margin-left:-309px; margin-top:-184px; padding-top:38px}
@media (max-width:617px) {
    .loginbox{ width:100%; position:static; margin-top:0; margin-left:0;}
}
.loginForm{ margin-top: 10%; margin-left: 20%}