<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="indi.baojie.supervision.dao.MatterTaskMapper" >
  <resultMap id="BaseResultMap" type="indi.baojie.supervision.domain.MatterTask" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="process_instance_id" property="processInstanceId" jdbcType="INTEGER" />
    <result column="matter_id" property="matterId" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="target" property="target" jdbcType="VARCHAR" />
    <result column="unit_ids" property="unitIds" jdbcType="VARCHAR" />
    <result column="unit_names" property="unitNames" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, process_instance_id, matter_id, code, target, unit_ids, unit_names, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="indi.baojie.supervision.domain.MatterTaskExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from matter_task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from matter_task
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from matter_task
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="indi.baojie.supervision.domain.MatterTaskExample" >
    delete from matter_task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="indi.baojie.supervision.domain.MatterTask" >
    insert into matter_task (id, process_instance_id, matter_id, 
      code, target, unit_ids, 
      unit_names, remark)
    values (#{id,jdbcType=INTEGER}, #{processInstanceId,jdbcType=INTEGER}, #{matterId,jdbcType=INTEGER}, 
      #{code,jdbcType=VARCHAR}, #{target,jdbcType=VARCHAR}, #{unitIds,jdbcType=VARCHAR}, 
      #{unitNames,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="indi.baojie.supervision.domain.MatterTask" >
    insert into matter_task
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="processInstanceId != null" >
        process_instance_id,
      </if>
      <if test="matterId != null" >
        matter_id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="target != null" >
        target,
      </if>
      <if test="unitIds != null" >
        unit_ids,
      </if>
      <if test="unitNames != null" >
        unit_names,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="processInstanceId != null" >
        #{processInstanceId,jdbcType=INTEGER},
      </if>
      <if test="matterId != null" >
        #{matterId,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="target != null" >
        #{target,jdbcType=VARCHAR},
      </if>
      <if test="unitIds != null" >
        #{unitIds,jdbcType=VARCHAR},
      </if>
      <if test="unitNames != null" >
        #{unitNames,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="indi.baojie.supervision.domain.MatterTaskExample" resultType="java.lang.Integer" >
    select count(*) from matter_task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update matter_task
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.processInstanceId != null" >
        process_instance_id = #{record.processInstanceId,jdbcType=INTEGER},
      </if>
      <if test="record.matterId != null" >
        matter_id = #{record.matterId,jdbcType=INTEGER},
      </if>
      <if test="record.code != null" >
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.target != null" >
        target = #{record.target,jdbcType=VARCHAR},
      </if>
      <if test="record.unitIds != null" >
        unit_ids = #{record.unitIds,jdbcType=VARCHAR},
      </if>
      <if test="record.unitNames != null" >
        unit_names = #{record.unitNames,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update matter_task
    set id = #{record.id,jdbcType=INTEGER},
      process_instance_id = #{record.processInstanceId,jdbcType=INTEGER},
      matter_id = #{record.matterId,jdbcType=INTEGER},
      code = #{record.code,jdbcType=VARCHAR},
      target = #{record.target,jdbcType=VARCHAR},
      unit_ids = #{record.unitIds,jdbcType=VARCHAR},
      unit_names = #{record.unitNames,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="indi.baojie.supervision.domain.MatterTask" >
    update matter_task
    <set >
      <if test="processInstanceId != null" >
        process_instance_id = #{processInstanceId,jdbcType=INTEGER},
      </if>
      <if test="matterId != null" >
        matter_id = #{matterId,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="target != null" >
        target = #{target,jdbcType=VARCHAR},
      </if>
      <if test="unitIds != null" >
        unit_ids = #{unitIds,jdbcType=VARCHAR},
      </if>
      <if test="unitNames != null" >
        unit_names = #{unitNames,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="indi.baojie.supervision.domain.MatterTask" >
    update matter_task
    set process_instance_id = #{processInstanceId,jdbcType=INTEGER},
      matter_id = #{matterId,jdbcType=INTEGER},
      code = #{code,jdbcType=VARCHAR},
      target = #{target,jdbcType=VARCHAR},
      unit_ids = #{unitIds,jdbcType=VARCHAR},
      unit_names = #{unitNames,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>