<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.baojie.supervision.dao.RoleMapper">

    <resultMap id="RoleWithPermissions" type="indi.baojie.supervision.domain.Role">
        <id column="rid" property="id" jdbcType="INTEGER"/>
        <result column="rname" property="name" jdbcType="VARCHAR"/>
        <collection property="permissions" ofType="indi.baojie.supervision.domain.Permission">
            <id column="pid" property="id" jdbcType="INTEGER"/>
            <result column="parent_id" property="parentId" jdbcType="INTEGER"/>
            <result column="pname" property="name" jdbcType="VARCHAR"/>
            <result column="url" property="url" jdbcType="VARCHAR"/>
            <result column="type" property="type" jdbcType="VARCHAR"/>
            <result column="sort" property="sort" jdbcType="INTEGER"/>
        </collection>
    </resultMap>
    
    <select id="findOne" parameterType="indi.baojie.supervision.domain.Role" resultMap="RoleWithPermissions">
        select
        r.id as rid, r.name as rname, p.id as pid, parent_id, p.name as pname, url, type, sort
        from ((
            role as r left join role_permission as rp on r.id = rp.role_id)
        left join permission as p on p.id = rp.permission_id)
        <where>
            <if test="id != null">
                and r.id = #{id}
            </if>
            <if test="name != null">
                and r.name = #{name}
            </if>
        </where>
        order by parent_id,sort asc
    </select>

    <select id="find" parameterType="indi.baojie.supervision.domain.Role" resultType="indi.baojie.supervision.domain.Role">
        select * from role
    </select>

    <select id="count" parameterType="indi.baojie.supervision.domain.Role" resultType="int">
        select count(*) from role
        <where>
            <if test="name!=null">
                and name = #{name}
            </if>
        </where>

    </select>

    <insert id="insert" parameterType="indi.baojie.supervision.domain.Role">
        insert into role(name)
        values(#{name})
    </insert>

    <update id="update" parameterType="indi.baojie.supervision.domain.Role">
        update role
        set name = #{name}
        where id = #{id}
    </update>
</mapper>