<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.baojie.supervision.dao.UserMapper">

    <sql id="Base_Column_List">
        id, username, password
    </sql>

    <resultMap id="UserWithRoles" type="indi.baojie.supervision.domain.User">
        <id column="uid" property="id" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <collection property="roles" ofType="indi.baojie.supervision.domain.Role">
            <id column="rid" property="id" jdbcType="INTEGER"/>
            <result column="name" property="name" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>
    
    <select id="findOne" parameterType="indi.baojie.supervision.domain.User" resultMap="UserWithRoles">
        select
        u.id as uid, username, password, r.id as rid, name
        from ((
            user as u left join user_role as ur on u.id = ur.user_id)
        left join role as r on r.id = ur.role_id)
        <where>
            <if test="id != null">
                and u.id = #{id}
            </if>
            <if test="username != null">
                and username = #{username}
            </if>
            <if test="password != null">
                and password = #{password}
            </if>
        </where>
    </select>

    <select id="find" parameterType="indi.baojie.supervision.domain.User" resultType="indi.baojie.supervision.domain.User">
        select * from user
    </select>

    <select id="count" parameterType="indi.baojie.supervision.domain.User" resultType="int">
        select count(*) from user
        <where>
            <if test="username!=null">
                and username = #{username}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="indi.baojie.supervision.domain.User">
        insert into user(username, password)
        values(#{username}, #{password})
    </insert>

    <update id="update" parameterType="indi.baojie.supervision.domain.User">
        update user
        set username = #{username}, password = #{password}
        where id = #{id}
    </update>

    <delete id="delete">
        delete from user
        <where>
            <if test="id!=null">
                and id = #{id}
            </if>
            <if test="username!=null">
                and username = #{username}
            </if>
        </where>
    </delete>
</mapper>